.popup__name {
  margin: 0;
  padding-left: 36px;
  padding-top: 34px;
  padding-bottom: 54px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 900;
  color: black;
  line-height: 29px;
  max-width: calc(100% - 28px);
}
@media (max-width: 475px) {
  .popup__name {
    padding-top: 25px;
    padding-left: 0;
    align-self: center;
    font-size: 18px;
    line-height: 22px;
    max-width: calc(100% - 44px);
    padding-bottom: 75px;
  }
}
